# {{ ansible_managed }}
{% if kibana_docker__elastic_service_acc_token %}
ELASTICSEARCH_SERVICEACCOUNTTOKEN={{ kibana_docker__elastic_service_acc_token }}
{% else %}
ELASTICSEARCH_PASSWORD={{ kibana_docker__elasticsearch_password }}
{% endif %}
{% if kibana_docker__xpack_encryptedsavedobjects_encryptionkey %}
XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY={{ kibana_docker__xpack_encryptedsavedobjects_encryptionkey }}
{% endif %}
# {{ ansible_managed }}
