# {{ ansible_managed }}
---
services:
  kibana:
    image: {{ kibana_docker__image_name }}
    ports:
      - {{ kibana_docker__external_port }}:5601
    environment:
{% if kibana_docker__custom_environment_vars == "" %}
      SERVER_HOST: "0.0.0.0"
      SERVER_SHUTDOWNTIMEOUT: "5s"
      ELASTICSEARCH_HOSTS: '{{ kibana_docker__elasticsearch_hosts | to_json }}'
{% if not kibana_docker__elastic_service_acc_token %}
      ELASTICSEARCH_USERNAME: kibana_system
{% endif %}
      ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES: '["/usr/share/kibana/config/certs/{{ kibana_docker__elastic_ca_cert_local_filename }}"]'
      ELASTICSEARCH_SSL_VERIFICATIONMODE: "certificate" # full | certificate |none certificate — don't verify hostname
      SERVER_PUBLICBASEURL: "http://127.0.0.1:5601"
      MONITORING_UI_CONTAINER_ELASTICSEARCH_ENABLED: "true"
      XPACK_REPORTING_ROLES_ENABLED: "false"
      XPACK_FLEET_AGENTS_FLEET_SERVER_HOSTS: '{{ kibana_docker__xpack_fleet_agents_fleet_server_hosts | to_json }}'
{% if kibana_docker__enable_package_registry_container %}
      XPACK_FLEET_REGISTRYURL: "{{ kibana_docker__xpack_fleet_registryurl }}"
{% endif %}
{% if kibana_docker__enable_apm_monitoring %}
      ELASTIC_APM_ACTIVE: 'true'
      ELASTIC_APM_SERVERURL: url of the APM server
      ELASTIC_APM_SECRETTOKEN: Token that the APM server exposes
{% endif %}
{% else %}
      {{ kibana_docker__custom_environment_vars |indent(6) }}
{% endif %}
    env_file: .env
    volumes:
      -
        type: bind
        source: ./config/certs/{{ kibana_docker__elastic_ca_cert_local_filename }}
        target: /usr/share/kibana/config/certs/{{ kibana_docker__elastic_ca_cert_local_filename }}
        read_only: true
      -
        type: bind
        source: ./kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
      -
        type: volume
        source: {{ kibana_docker__volume_name }}
        target: /usr/share/kibana/data
        read_only: false
    restart: unless-stopped
    healthcheck:
      interval: 10s
      retries: 30
      start_period: 10s
      test:
      - CMD-SHELL
      - curl -s -k http://kibana:5601/api/status | grep -q 'All services are available'
{% if kibana_docker__enable_package_registry_container %}
  package-registry:
    image: {{ kibana_docker__package_registry_image_name }}
    restart: unless-stopped
{% endif %}
volumes:
  {{ kibana_docker__volume_name }}:
# {{ ansible_managed }}
